html,
body,
#react-root {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;
  background-image: url(../../images/honeycomb2.jpg);
  background-size: 100% 120%;
  background-attachment: fixed;

  background-color: #3e4041;
}

img {
  display: inline-block;
  max-width: 100%;
  border-radius: 8px;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

.searchContainer {
  display: inline-table;
  flex-direction: column;
  transition: all 0.5s;
  cursor: pointer;
  background-color: rgb(168, 168, 168);
  width: 320px;
  height: 320px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  align-content: center;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */
.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #13ce9a;
  border-width: 1px 1px 3px;
  border-top-left-radius: 5;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 5px;

  background-image: linear-gradient(90deg, #00ffb8, #13ce9a);
  color: #555454;
  font-size: 1.1rem;
  outline: 0;

  cursor: pointer;
}

/* custom button effects */
//login button
.btn-wrapper {
  content: "login";
  width: 100px;
  height: 100px;
  padding: 20px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 60px;
  transition: all 1s ease;

  .loginBtn {
    width: 52%;
    height: 90%;

    background-image: linear-gradient(90deg, #00ffb8, #13ce9a);

    border: transparent;

    transition: all 1s ease;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: -6;
      background: inherit;
      width: 100%;
      height: 100%;

      border-radius: 0;

      transition: all 0.5s ease;

      display: flex;
      align-content: center;
      justify-content: center;
    }

    &::before {
      transform: rotateZ(60deg);
    }

    &::after {
      transform: rotateZ(-60deg);
    }

    &:hover {
      border-radius: 50px;
      &::before,
      &::after {
        border-radius: 50px;
      }
    }
  }

  &:hover {
    transform: rotateZ(360deg);
  }
}

//honeycomb cluster on UserPage

//responsive 6:38
/* end custom button effects */

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid rgb(82, 160, 127);
  border-radius: 0;
  background: none;
  font: inherit;
  color: #13ce9a;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-image: linear-gradient(90deg, #13ce9a, #00ffb8);
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

/* --------------------------------------------------------------------------------
Text
-------------------------------------------------------------------------------- */
.helpText {
  background-color: rgb(168, 168, 168);
  margin: 40px;
  border-radius: 6px;
}
h2 {
  color: rgb(0, 0, 0);
  align-items: center;
}

.userInfo {
  background-color: rgb(168, 168, 168);
  border-radius: 8px;
  align-items: center;
  text-align: center;
}
